*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #26282689;
    font-family: sans-serif;
    outline: none;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: rgba(39, 37, 37, 0.979);
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff7c,
                        5px 5px 12px rgba(161, 155, 155, 0.16);
    display: grid;
    grid-template-columns: repeat(4,68px);                   
}
input{
    grid-column: span 4;
    height: 60px;
    width: 270px;
    background-color: #ecf3f1;
    box-shadow: inset -5px -5px 12px #6a6464
                inset   5px 5px 12px rgba(0,0,0,0.16);
    border: none;
    border-radius: 20px;
    color: black;
    font-size: 40px;
    text-align: end;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px;

}
.clear{
    color: rgb(180, 60, 9);
    background-color: rgba(7, 150, 150, 0.856);
}
.del{
    color: rgb(180, 60, 9); 
    background-color: rgba(7, 150, 150, 0.856); 

}
button{
    height: 48px;
    width: 48px;
    background-color: #ede6e6b5;
    box-shadow: -5px -5px 12px #ffffff
                    5px 5px 12px rgba(0,0,0,0.16);
    border: none;
    margin: 10px;
    border-radius: 50%;
    font-size: 20px;
    
}
.equal {
    width: 115px;
    border-radius: 40px;
    background-color:  #ede6e6b5;
    box-shadow: -5px -5px 12px #ffffff
    5px 5px 12px rgba(0,0,0,0.16);
    
}

